.search {
}

.search__line-input {
  margin: 65px 0 35px 0;
  position: relative;
}

.search__btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  background: inherit;
  background-image: url("../../images/find.svg");
  background-size: contain;
  border: none;
  transition: all 0.25s linear;
}

.search__btn:hover {
  transform: translateX(2px);
}

.search__line-switch {
  display: flex;
  align-items: center;
  margin-bottom: 120px;
}

.search__box {
  display: flex;
  align-items: center;
}

.search__input {
  width: 100%;
  background: inherit;
  color: #8b8b8b;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 28px;
  font-weight: 500;
  border: none;
  padding-bottom: 13px;
  border-bottom: #424242 1px solid;
  outline: none;
}

.search__switch-info {
  margin-left: 15px;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
}

.search__input:focus,
.search__input:focus-visible {
  color: #fff;
  border-bottom: #fff 1px solid;
}

.search__switch[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.search__switch-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 36px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 10px;
  position: relative;
  color: #fff;
}

.search__switch-label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 100%;
  transition: 0.3s;
}

.search__switch:checked + .search__switch-label {
  background: #3ddc84;
}

.search__switch:checked + .search__switch-label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

.search__switch-label:active:after {
  /* width: 130px; */
}

@media (max-width: 768px) {
  .search__line-switch {
    justify-content: flex-end;
  }
  .search__box {
    flex-direction: row-reverse;
  }
  .search__switch-info {
    margin: 0 15px 0 0;
  }
}

@media (max-width: 460px) {
  .search__input {
    font-size: 18px;
  }
  .search__line-input {
    margin: 70px 0 40px;
  }
  .search__switch-info {
    font-size: 11px;
  }
  .search__line-switch {
    justify-content: center;
  }
  .search__btn {
    top: -9px;
  }
  .search__line-switch {
    margin-bottom: 90px;
  }
}
