.login {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login__title {
  margin: 35px 0 36px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.form-aut__err-message {
  margin: -5px 0 20px;
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
}

.info-autorization {
  position: relative;
  text-align: center;
}

.info-autorization__error {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  color: #ee3465;
  font-size: 14px;
  font-weight: 400;
}

.info-autorization__alert {
  padding-right: 8px;
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
}

.info-autorization__btn {
  text-decoration: none;
  color: #4285f4;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.25s linear;
}

.info-autorization__btn:hover {
  opacity: 0.8;
}

.form-aut__input {
  border: 1px solid transparent;
  margin-top: 10px;
  border-radius: 8px;
  padding: 15px;
  width: 100%;
  color: #fff;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  outline: none;
  background-color: #2f2f2f;
  box-sizing: border-box;
}

.form-aut__input:focus {
  border: 1px solid #ffffff57;
}

.form-aut__input::placeholder {
  color: #fff;
}

.text-field__label {
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
}

.form-aut__input:not(:last-child) {
  margin-bottom: 16px;
}

.form-aut__input:-webkit-autofill,
.form-aut__input:-webkit-autofill:hover,
.form-aut__input:-webkit-autofill:focus {
  border: 1px solid #2f2f2f;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #2f2f2f inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form-aut__btn {
  margin: 85px 0 15px;
  border-radius: 3px;
  background: #4285f4;
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 45px;
  border: 0px;
  cursor: pointer;
}

.form-aut__btn-login {
  margin-top: 175px;
}
.form-aut__input-error {
  border: 1px solid #ee3465;
}

.form-aut__btn-login_blocked {
  background-color: #8b8b8b;
  cursor: default;
}

@media (max-width: 460px) {
  .info-autorization__error {
    width: 100%;
    top: -35px;
  }
  .login {
    min-height: 100vh;
    justify-content: start;
    padding: 60px 0 30px;
    box-sizing: border-box;
  }
  .form-aut {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .form-aut__input {
    margin-top: 7px;
  }
  .form-aut__btn-login {
    margin-top: 0;
  }
  .login__title {
    margin: 50px 0 75px;
    text-align: center;
  }
  .login__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-autorization__alert,
  .info-autorization__btn {
    font-size: 12px;
  }
}
